<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>addEmployee</servlet-name>
  	<display-name>addEmployee</display-name>
  	<description></description>
  	<servlet-class>addEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>selectAllEmployee</servlet-name>
  	<display-name>selectAllEmployee</display-name>
  	<description></description>
  	<servlet-class>selectAllEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>selectEmployee</servlet-name>
  	<display-name>selectEmployee</display-name>
  	<description></description>
  	<servlet-class>selectEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteEmployee</servlet-name>
  	<display-name>deleteEmployee</display-name>
  	<description></description>
  	<servlet-class>deleteEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyEmployee</servlet-name>
  	<display-name>modifyEmployee</display-name>
  	<description></description>
  	<servlet-class>modifyEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateEmployee</servlet-name>
  	<display-name>updateEmployee</display-name>
  	<description></description>
  	<servlet-class>modifyWmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyEmployeeInfo</servlet-name>
  	<display-name>modifyEmployeeInfo</display-name>
  	<description></description>
  	<servlet-class>modifyEmployeeInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginValidate</servlet-name>
  	<display-name>loginValidate</display-name>
  	<description></description>
  	<servlet-class>loginValidate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addEmployee</servlet-name>
  	<url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>selectAllEmployee</servlet-name>
  	<url-pattern>/selectAllEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>selectEmployee</servlet-name>
  	<url-pattern>/selectEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteEmployee</servlet-name>
  	<url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyEmployee</servlet-name>
  	<url-pattern>/modifyEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateEmployee</servlet-name>
  	<url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyEmployeeInfo</servlet-name>
  	<url-pattern>/modifyEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginValidate</servlet-name>
  	<url-pattern>/loginValidate</url-pattern>
  </servlet-mapping>
</web-app>
